<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27842068939-f2702jqttqvdsosgkrgeu091tsedi051.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27842068939-f2702jqttqvdsosgkrgeu091tsedi051</string>
	<key>API_KEY</key>
	<string>AIzaSyDjtpZghgtx4iX18GJ_OJP5e6g5BTChw4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>27842068939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ttn.test.Project</string>
	<key>PROJECT_ID</key>
	<string>impactful-arbor-277513</string>
	<key>STORAGE_BUCKET</key>
	<string>impactful-arbor-277513.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27842068939:ios:52672fc63846a97ff5b64e</string>
	<key>DATABASE_URL</key>
	<string>https://impactful-arbor-277513.firebaseio.com</string>
</dict>
</plist>